 /*Elementos para a Criação do Site */
body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color:white;
}

header .container{
    text-align: center;
    display:inline;
    margin:0 auto;
}
/* Alinha os elementos em tela e o justify permite criar-se um espaçoi maior, pondo o inline e alinhando o texoto ao centro é possível por o nav em baixo da logo */
header .logo{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: rgb(128, 128, 128);
    margin-right: 10px;
    align-content: center;
}

header nav a:hover{
    color: white;
}

:root{
    --black:rgba(0, 0, 0, 0.685);
    --white:white;
}
/* Padroniza um determinado tipo de cor da preferência do programador a todo o Site */

/* Jogo Principal */

div .jogo-principal{
    font-size: 15px;
    background-image: linear-gradient() url('/img/Resident-Evil.jpg');
    height: 400px;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Padroniza em diferentes tipos de navegadores o mesmo estilo */